.search-field-view {
  > .inputcontainer {
    position: relative;
    > input {
      &[type="search"], &[type="text"] {
        border: solid 1px #999;
        margin-left: -2px;
        padding: .3em 1em .3em 2.1em;
        line-height: 1;
        border-radius: 1.6em;
        &::placeholder {
          color: #CCC;
        }
      }
    }
    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
    }
    &::before {
      width: .8em;
      height: .8em;
      top: .4em;
      left: .7em;
      border-radius: 100%;
      border: solid 1px #999;
    }
    &::after {
      height: .5em;
      top: 1em;
      left: 1.5em;
      rotate: -45deg;
      border-left: solid 1px #999;
    }
  }
  > .suggestionscontainer {
    min-height: fit-content;
    display: flex;
    position: absolute;
    overflow: auto;
    border-radius: .5em;
    background-color: white;
    z-index: 2;
    box-shadow: 0 2px 4px #0004;
    > .suggestions {
      margin: 0;
      padding: 0;
      overflow: auto;
      z-index: 1;
      > li {
        display: grid;
        padding: .4em 1em;
        list-style-type: none;
        position: relative;
        &:first-child {
          margin-top: .6em;
        }
        &:last-child {
          margin-bottom: .8em;
        }
      }
    }
  }
}
