.search-field-view {
  > .inputcontainer {
    position: relative;
    > input {
      &[type="search"],
      &[type="text"] {
        border: solid 1px #999;
        margin-left: -2px;
        padding: 0.3em 1em 0.3em 2.1em;
        line-height: 1;
        border-radius: 1.6em;
        &::placeholder {
          color: #ccc;
        }
      }
    }
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
    }
    &::before {
      width: 0.8em;
      height: 0.8em;
      top: 0.4em;
      left: 0.7em;
      border-radius: 100%;
      border: solid 1px #999;
    }
    &::after {
      height: 0.5em;
      top: 1em;
      left: 1.5em;
      rotate: -45deg;
      border-left: solid 1px #999;
    }
  }
}
