table {
  --padding-block: 4px;
  --padding-inline: 4px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  > thead {
    > tr {
      > th, > td {
        padding: calc(var(--padding-block) + 2px) var(--padding-inline);
        &:before, &:after {
          content: "";
          width: 100%;
          height: 1px;
          position: absolute;
          left: 0;
        }
        &:before {
          top: 0;
        }
        &:after {
          bottom: 0;
        }
      }
      > th {
        font-weight: bold;
      }
    }
  }
  > tbody {
    > tr {
      > th, > td {
        padding: var(--padding-block) var(--padding-inline);
      }
    }
  }
}
