:host {
  --togostanza-fadeout-opacity: 0.2;
  --togostanza-fadeout-transition: opacity 0.2s ease-in;
  display: block;
  background-color: var(--togostanza-theme-background_color);
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  color: var(--togostanza-fonts-font_color);
}

text {
  fill: var(--togostanza-fonts-font_color);
}

.legend .title {
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
}

svg .gridlines > .tick > line {
  stroke: var(--togostanza-border-color);
  opacity: 0.4;
  stroke-width: 1px;
}
svg .gridlines > path.domain {
  display: none;
}
svg .bars rect {
  stroke-width: 0.5px;
  stroke: var(--togostanza-border-color);
}
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  svg .gridlines > .tick > line {
    stroke-width: 0.5px;
  }
}
svg .axis > .tick > line {
  stroke: var(--togostanza-border-color);
  stroke-width: 1px;
}
svg .axis > .tick > text {
  font-size: calc(var(--togostanza-fonts-font_size_secondary) * 1px);
}
svg .axis > path {
  stroke: var(--togostanza-border-color);
  stroke-width: 1px;
}
svg line.error-bar-line {
  stroke: var(--togostanza-border-color);
  stroke-width: 1px;
  opacity: 0.8;
}

main {
  background-color: var(--togostanza-theme-background_color);
  border: calc(var(--togostanza-border-width) * 1px) solid var(--togostanza-border-color);
}