:host {
  --togostanza-fadeout-opacity: 0.2;
  --togostanza-fadeout-transition: opacity 0.2s ease-in;
  display: block;
  background-color: var(--togostanza-theme-background_color);
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  color: var(--togostanza-fonts-font_color);
}

svg {
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
}
svg text {
  fill: var(--togostanza-fonts-font_color);
}

.legend {
  color: var(--togostanza-fonts-font_color);
  font-size: calc(var(--togostanza-fonts-font_size_secondary) * 1px);
}

.legend .title {
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
}

breadcrumbs-el {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.2em;
  row-gap: 0.3em;
  align-items: start;
  width: 100%;
  background-color: var(--togostanza-theme-background-color);
  line-height: 0;
}
breadcrumbs-el > breadcrumbs-node {
  position: relative;
  display: block;
}
breadcrumbs-el > breadcrumbs-node > svg {
  cursor: pointer;
}
breadcrumbs-el > breadcrumbs-node > svg .node-outline {
  stroke: var(--togostanza-border-color);
  stroke-width: 1px;
  fill: var(--togostanza-node-background_color);
  transition: var(--togostanza-fadeout-transition);
  transition: fill 0.1s ease-in;
}
breadcrumbs-el > breadcrumbs-node > svg .node-label {
  alignment-baseline: middle;
  font-size: calc(var(--togostanza-fonts-font_size_primary));
}
breadcrumbs-el > breadcrumbs-node > svg .node-label,
breadcrumbs-el > breadcrumbs-node > svg .home-icon {
  fill: var(--togostanza-fonts-font_color);
}
breadcrumbs-el > breadcrumbs-node > svg.-hover .node-label,
breadcrumbs-el > breadcrumbs-node > svg.-hover .home-icon {
  fill: var(--togostanza-fonts-font_color_hover);
}
breadcrumbs-el > breadcrumbs-node > svg.-hover .node-outline {
  fill: var(--togostanza-node-background_color_hover);
  transition: var(--togostanza-fadeout-transition);
  transition: fill 0.1s ease-in;
}
breadcrumbs-el > breadcrumbs-node > svg.-hover:active {
  filter: brightness(0.93);
}
breadcrumbs-el > breadcrumbs-node > breadcrumbs-node-menu {
  position: absolute;
  left: 0;
}
breadcrumbs-el > breadcrumbs-node > breadcrumbs-node-menu .menu-wrapper {
  padding-top: 5px;
}
breadcrumbs-el > breadcrumbs-node > breadcrumbs-node-menu .menu-triangle {
  position: absolute;
  top: 0;
  width: 7px;
  height: 7px;
  left: 50%;
  transform: translate(-50%, 2px) rotate(45deg);
  border: 1px solid var(--togostanza-border-color);
  z-index: 1;
}
breadcrumbs-el > breadcrumbs-node > breadcrumbs-node-menu .menu-triangle-overlay {
  position: absolute;
  top: 0;
  width: 7px;
  height: 7px;
  left: 50%;
  transform: translate(-50%, 3px) rotate(45deg);
  background-color: var(--togostanza-node-background_color);
  z-index: 5;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}
breadcrumbs-el > breadcrumbs-node > breadcrumbs-node-menu .menu-container {
  position: relative;
  max-width: 15em;
  margin: 0;
  border: 1px solid var(--togostanza-border-color);
  border-radius: 0.5em;
  background-color: var(--togostanza-node-background_color);
  z-index: 3;
  cursor: pointer;
}
breadcrumbs-el > breadcrumbs-node > breadcrumbs-node-menu ul.menu-items {
  max-height: 20em;
  margin: 0.2em 0;
  padding: 0;
  overflow-y: auto;
  list-style-type: none;
}
breadcrumbs-el > breadcrumbs-node > breadcrumbs-node-menu ul.menu-items > li {
  display: block;
  line-height: 1.2;
  padding: 0.5em;
  word-wrap: break-word;
}
breadcrumbs-el > breadcrumbs-node > breadcrumbs-node-menu ul.menu-items > li:hover {
  background-color: var(--togostanza-node-background_color_hover);
  color: var(--togostanza-fonts-font_color_hover);
}
breadcrumbs-el > breadcrumbs-node > breadcrumbs-node-menu ul.menu-items > li:active {
  filter: brightness(0.93);
}