:host {
  --togostanza-fadeout-opacity: .2;
  --togostanza-fadeout-transition: opacity .2s ease-in;
  display: block;
  background-color: var(--togostanza-theme-background_color);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  color: var(--togostanza-fonts-font_color);
}

text {
  fill: var(--togostanza-fonts-font_color);
}

main {
  font: calc(var(--font-size) * 1px) var(--togostanza-font-family);
}

.fullsircle {
  fill: none;
}

.ribbons {
  fill-opacity: 0.5;
}
.ribbons > path {
  mix-blend-mode: multiply;
}