:host {
  --togostanza-fadeout-opacity: 0.2;
  --togostanza-fadeout-transition: opacity 0.2s ease-in;
  display: block;
  background-color: var(--togostanza-theme-background_color);
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  color: var(--togostanza-fonts-font_color);
}

svg {
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
}
svg text {
  fill: var(--togostanza-fonts-font_color);
}

.legend {
  color: var(--togostanza-fonts-font_color);
  font-size: calc(var(--togostanza-fonts-font_size_secondary) * 1px);
}

.legend .title {
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
}

main {
  padding: var(--togostanza-outline-padding);
}

#wrapper {
  position: relative;
  overflow: auto;
  width: calc(var(--togostanza-outline-width) * 1px);
  height: calc(var(--togostanza-outline-height) * 1px);
}
#wrapper .value {
  flex-grow: 1;
  font-weight: normal;
  font-style: italic;
  opacity: 0.8;
}
#wrapper .label {
  display: flex;
  overflow: hidden;
}
#wrapper .label > strong,
#wrapper .label .value {
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#wrapper .label > strong {
  min-width: 50%;
}
#wrapper .label.-horizontal {
  width: 100%;
  line-height: 1;
  height: calc(var(--togostanza-fonts-font_size_primary) * 1px + 1px);
  flex-direction: row;
  gap: 1rem;
}
#wrapper .label.-horizontal > .value {
  text-align: right;
  padding-right: 1px;
}
#wrapper .label.-vertical {
  flex-direction: column;
}
#wrapper .label.-vertical > .value {
  text-align: left;
}
#wrapper .icon {
  width: calc(var(--togostanza-fonts-font_size_primary) * 0.6 * 1px);
}
#wrapper .-with-border:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  border-top: solid 1px var(--togostanza-column-border_color);
}
#wrapper > .search-container {
  margin-bottom: 1rem;
  margin-left: 5px;
}
#wrapper > .search-container > input {
  position: relative;
  margin-right: 1rem;
  width: 190px;
  height: 20px;
  border: solid 1px var(--togostanza-column-border_color);
  border-radius: calc(var(--togostanza-column-border_radius) * 1px);
}
#wrapper > .search-container > .search-wrapper {
  min-height: fit-content;
  max-height: 80%;
  display: flex;
  position: absolute;
  overflow: auto;
  border: solid 1px var(--togostanza-column-border_color);
  border-radius: 3px;
  z-index: 2;
}
#wrapper > .search-container > .search-wrapper > .suggestions {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: white;
  z-index: 1;
}
#wrapper > .search-container > .search-wrapper > .suggestions > li {
  display: grid;
  padding: 0.8rem 1rem;
  list-style-type: none;
  position: relative;
  border-bottom: var(--togostanza-column-border);
}
#wrapper > .search-container > .search-wrapper > .suggestions > li:hover {
  background-color: var(--togostanza-node-hover_background_color);
  cursor: pointer;
}
#wrapper > #tree {
  height: calc(var(--togostanza-column-height) * 1px);
  display: flex;
  width: fit-content;
  gap: calc(var(--togostanza-column-gap) * 1px);
  padding: 1px;
}
#wrapper > #tree > .column {
  overflow: auto;
  background-color: var(--togostanza-column-background_color);
  padding: calc(var(--togostanza-column-padding) * 1px);
  width: max-content;
  outline: 1px solid;
  outline-color: var(--togostanza-column-border_color);
  border-radius: calc(var(--togostanza-column-border_radius) * 1px);
}
#wrapper > #tree > .column.-fixed {
  width: calc(var(--togostanza-column-width) * 1px);
}
#wrapper > #tree > .column > .node {
  position: relative;
  display: grid;
  grid-template-columns: 1.5rem auto 1.5rem;
  align-items: center;
  border-radius: calc(var(--togostanza-node-border_radius) * 1px);
  padding-top: calc(var(--togostanza-node-padding_vertical) * 1px);
  padding-bottom: calc(var(--togostanza-node-padding_vertical) * 1px);
  padding-left: calc(var(--togostanza-node-padding_horizontal) * 1px);
  padding-right: calc(var(--togostanza-node-padding_horizontal) * 1px);
}
#wrapper > #tree > .column > .node > .label.-vertical {
  margin-left: 0.5rem;
}
#wrapper > #tree > .column > .node > .icon {
  align-self: center;
  justify-self: flex-end;
}
#wrapper > #tree > .column > .node > input[type=checkbox]:hover {
  cursor: pointer;
}
#wrapper > #tree > .column > .node:first-child.-with-border:after {
  border-top: none;
}
#wrapper > #tree > .column > .node.-highlighted {
  background-color: var(--togostanza-node-selected_background_color);
  color: var(--togostanza-node-selected_text_color);
}
#wrapper > #tree > .column > .node.-highlighted > svg > path {
  color: var(--togostanza-node-selected_text_color);
}
#wrapper > #tree > .column > .node:hover {
  background-color: var(--togostanza-node-hover_background_color);
  color: var(--togostanza-node-hover_text_color);
  cursor: pointer;
}
#wrapper > #tree > .column > .node:hover > svg > path {
  color: var(--togostanza-node-hover_text_color);
}