:host {
  --togostanza-fadeout-opacity: 0.2;
  --togostanza-fadeout-transition: opacity 0.2s ease-in,
    background-color 0.2s ease-in;

  display: block;
  background-color: var(--togostanza-theme-background_color);
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  color: var(--togostanza-fonts-font_color);
}

svg {
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  text {
    fill: var(--togostanza-fonts-font_color);
  }
}
.legend {
  color: var(--togostanza-fonts-font_color);
  font-size: calc(var(--togostanza-fonts-font_size_secondary) * 1px);
}
.legend .title {
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
}
