:host {
  --togostanza-fadeout-opacity: 0.2;
  --togostanza-fadeout-transition: opacity 0.2s ease-in;
  display: block;
  background-color: var(--togostanza-theme-background_color);
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  color: var(--togostanza-fonts-font_color);
}

svg {
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
}
svg text {
  fill: var(--togostanza-fonts-font_color);
}

main {
  padding: var(--togostanza-outline-padding);
  background-color: var(--togostanza-theme-background_color);
}
main .titles {
  font-family: var(--togostanza-fonts-font_family);
}
main .domain,
main .tick {
  color: var(--togostanza-axis-color);
}
main .text {
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  color: var(--togostanza-fonts-font_color);
}
main .x-axis {
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  color: var(--togostanza-fonts-font_color);
}
main .highlighted {
  stroke: var(--togostanza-hover-border-color);
}
main rect {
  stroke: var(--togostanza-border-color);
  stroke-width: calc(var(--togostanza-border-width) * 1px);
}