:host {
  --togostanza-fadeout-opacity: .2;
  --togostanza-fadeout-transition: opacity .2s ease-in;
  display: block;
  background-color: var(--togostanza-theme-background_color);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  color: var(--togostanza-fonts-font_color);
}

text {
  fill: var(--togostanza-fonts-font_color);
}

:scope main {
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  width: var(--togostanza-outline-width);
  height: var(--togostanza-outline-height);
  padding: var(--togostanza-outline-padding);
  background-color: var(--togostanza-background-color);
}

.legend-right {
  flex-direction: row;
}

.legend-left {
  flex-direction: row-reverse;
}

.legend-top {
  flex-direction: column-reverse;
}

.legend-bottom {
  flex-direction: column;
}

.error {
  color: var(--togostanza-theme-series_5_color);
  box-sizing: border-box;
  width: var(--togostanza-outline-width);
  height: var(--togostanza-outline-height);
  padding: var(--togostanza-outline-padding);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(var(--togostanza-theme-background_color), 0.3);
  backdrop-filter: blur(5px);
}

svg {
  font-family: var(--togostanza-fonts-font_family);
  background-color: var(--togostanza-background-color);
}
svg .error-bar {
  opacity: var(--togostanza-error_bars-opacity);
}
svg .error-bars > line {
  stroke: var(--togostanza-theme-primary_color);
  stroke-width: calc(var(--togostanza-error_bars-width) * 1px);
}
svg .zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
svg .grid {
  stroke: var(--togostanza-theme-series_5_color);
  stroke-width: 1px;
  stroke-dasharray: 2, 2;
  opacity: 0.5;
}
svg .grid .domain {
  stroke: none;
}
svg rect.selection {
  fill: none;
}
svg rect.non-selection {
  fill: #777;
  fill-opacity: 0.2;
  stroke: none;
}
svg rect.handle {
  fill: rgb(161, 161, 161);
}
svg .gridlines > .tick > line {
  stroke: var(--togostanza-grid-color);
  opacity: var(--togostanza-grid-opacity);
  stroke-width: var(--togostanza-grid-width);
  stroke-dasharray: var(--togostanza-grid-dash-length), var(--togostanza-grid-dash-length);
}
svg .gridlines > path.domain {
  display: none;
}
svg .axis > .tick > line {
  stroke: var(--togostanza-border-color);
  stroke-width: var(--togostanza-axis-stroke_width);
}
svg .axis > path {
  stroke: var(--togostanza-border-color);
  stroke-width: var(--togostanza-axis-stroke_width);
}
svg .axis > .tick > text {
  font-size: calc(var(--togostanza-fonts-font_size_secondary) * 1px);
  fill: var(--togostanza-fonts-font_color);
}
svg .axis-title-group text.title {
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  text-anchor: middle;
}
svg path.line {
  stroke-width: var(--togostanza-line-width);
  opacity: var(--togostanza-line-opacity);
  fill: none;
}
svg line.errorbar {
  stroke: var(--togostanza-errorbar-line-color);
  stroke-width: calc(var(--togostanza-errorbar-line-width) * 1px);
  opacity: var(--togostanza-errorbar-line-opacity);
}

.-off {
  opacity: 0.5;
}