:host {
  --togostanza-fadeout-opacity: 0.2;
  --togostanza-fadeout-transition: opacity 0.2s ease-in;
  display: block;
  background-color: var(--togostanza-theme-background_color);
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  color: var(--togostanza-fonts-font_color);
}

svg {
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
}
svg text {
  fill: var(--togostanza-fonts-font_color);
}

* {
  font-family: var(--togostanza-font-family);
  box-sizing: border-box;
}

main {
  background-color: var(--togostanza-background-color);
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--togostanza-background-color);
}
.container .menu {
  display: flex;
  padding: 5px;
}
.container .menu a {
  color: var(--togostanza-text-font-color);
}
.container table {
  display: block;
}
.container table tbody tr td {
  word-break: break-all;
  color: var(--togostanza-text-font-color);
  font-size: var(--togostanza-text-font-size);
  font-weight: var(--togostanza-text-font-weight);
}