// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

svg {
  padding: var(--togostanza-canvas-padding);
  .link {
    fill: none;
    stroke: var(--togostanza-border-color);
    stroke-width: calc(var(--togostanza-border-width) * 1px);
  }
  circle {
    &.with-children {
      cursor: pointer;
    }
  }
}
