// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";
@use "@/scss/table";
@import "./@vueform/slider/themes/default";

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.

@mixin button {
  border-style: solid;
  border-width: calc(var(--togostanza-border-width) * 0.5px);
  border-color: var(--togostanza-theme-border_color);
  border-radius: 3px;
  background-color: var(--togostanza-table-thead-background_color);
  color: var(--togostanza-fonts-font_color_secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

@mixin text-input {
  width: 164px;
  height: 20px;
  border-style: solid;
  border-width: calc(var(--togostanza-border-width) * 0.5px);
  border-color: var(--togostanza-theme-border_color);
  border-radius: 0.2em;
  font-size: var(--togostanza-fonts-font_size_small);
  color: var(--togostanza-fonts-font_color_primary);
  &::placeholder {
    padding: 0px 0px 0px 4px;
    color: var(--searchbox-font-color);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  color: var(--togostanza-fonts-font_color_primary);
  font-family: var(--togostanza-fonts-font_family);
  font-size: var(--togostanza-fonts-font_size_small);
}

// FontAwesome SVG icons initial size control to prevent flash of large icons
svg[data-icon] {
  width: 1em !important;
  height: 1em !important;
  font-size: inherit !important;
}

#renderDiv {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 800px;
}

.textSearchInput[type="text"] {
  margin-right: 3px;
  @include text-input;
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.wrapper {
  display: flex;
  padding: var(--togostanza-canvas-padding, 0);
  > .tableOptionWrapper {
    > .tableOption {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0px 0px 10px 0px;
      > .entries {
        margin-left: auto;
        margin-right: 10px;
        font-size: var(--togostanza-fonts-font_color_primary);
        select {
          border-style: solid;
          border-width: calc(var(--togostanza-border-width) * 0.5px);
          border-color: var(--togostanza-theme-border_color);
          border-radius: 0.2em;
          height: 20px;
          background-color: var(--togostanza-theme-background_color);
        }
      }
      > .menuWrapper {
        position: relative;
        line-height: 1;
        > .menuIcon {
          width: 16px;
          &:hover {
            cursor: pointer;
          }
        }
        > ul.menu {
          position: absolute;
          top: 24px;
          right: 0px;
          padding: 8px 14px;
          background: #ffffff;
          box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
          z-index: 3;
          list-style: none;
          > li {
            > .downloadBtn {
              white-space: nowrap;
              line-height: 24px;
              font-weight: bold;
            }
          }
          &:before {
            content: "";
            position: absolute;
            top: -10px;
            right: 3px;
            border: 5px solid rgba(255, 255, 255, 0);
            border-bottom: 5px solid #ffffff;
          }
        }
      }
      > input {
        background-color: var(--togostanza-theme-background_color);
      }
    }
    > .tableWrapper {
      overflow: auto;
      background-color: var(--togostanza-theme-background_color);
      > table {
        > thead {
          margin-bottom: 0;
          > tr {
            > th {
              white-space: nowrap;
              position: relative;
              &.fixed {
                position: sticky;
                z-index: 20;
              }
              &:first-child {
                background-color: var(
                  --togostanza-table-thead-background_color
                );
              }
              > .filterWrapper {
                display: inline-block;
                position: relative;
                position: absolute;
                top: calc(
                  var(--togostanza-fonts-font_size_default) * 1px + 16px
                );
                left: 0;
                z-index: 3;
                &.lastCol {
                  left: auto;
                  right: 0;
                }
                > div.filterWindow {
                  width: auto;
                  height: auto;
                  background-color: #ffffff;
                  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
                  border-radius: 0.2em;
                  > .filterWindowTitle {
                    padding: 4px 8px;
                    background-color: var(
                      --togostanza-table-thead-background_color
                    );
                    color: var(--togostanza-fonts-font_color_secondary);
                  }
                  > ul.filters {
                    padding: 9px 8px;
                    margin: 9px 8px 6px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 3px;
                    max-height: 300px;
                    overflow: auto;
                    > li {
                      display: flex;
                      margin-bottom: 8px;
                      line-height: 1.4em;
                      > label {
                        display: flex;
                        align-items: center;
                        > input[type="checkbox"] {
                          margin-right: 6px;
                        }
                      }
                    }
                  }
                  > .toggleAllButton {
                    display: flex;
                    justify-content: center;
                    padding: 0 8px;
                    margin-bottom: 9px;
                    > button.selectAll,
                    > button.clear {
                      @include button;
                      padding: 3px 10px;
                      &:first-of-type {
                        margin-right: 4px;
                        width: 60%;
                      }
                      &:last-of-type {
                        width: 40%;
                      }
                    }
                  }
                }
              }
              > .textSearchByColumnWrapper {
                position: absolute;
                top: calc(
                  var(--togostanza-fonts-font_size_default) * 1px + 15px
                );
                left: 0;
                z-index: 3;
                background: #ffffff;
                box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
                &.lastCol {
                  left: auto;
                  right: 0;
                }
                > p.title {
                  display: block;
                  padding: 8px 10px 4px;
                  background-color: var(
                    --togostanza-table-thead-background_color
                  );
                  color: var(--togostanza-fonts-font_color_secondary);
                }
                > input.textSearchInput[name="queryInputByColumn"] {
                  margin: 0 10px 8px;
                }
                #slider {
                  margin: 10px 15px 8px;
                  width: 230px;
                  .slider-connect {
                    background-color: var(--togostanza-theme-series_0_color);
                  }
                }

                .slider-horizontal {
                  .slider-handle {
                    width: 14px;
                    height: 14px;
                    top: -5px;
                    background-color: var(--togostanza-theme-series_0_color);
                  }
                }

                .rangeInput {
                  width: 242px;
                  margin: 0 10px 8px;
                  display: flex;
                  justify-content: space-between;
                  align-items: flex-end;
                  > div {
                    > .rangeInputLabel {
                      font-size: 10px;
                      display: block;
                      margin-left: 2px;
                    }
                    > input[type="text"] {
                      @include text-input;
                      width: 100%;
                    }
                  }
                  > .dash {
                    width: 8px;
                    height: 1px;
                    background-color: var(
                      --togostanza-fonts-font_color_primary
                    );
                    margin-left: 4px;
                    margin-right: 4px;
                    margin-bottom: 10px;
                  }
                }
              }
              &:last-of-type {
                > .filterWrapper {
                  > div.filterWindow {
                    left: auto;
                    right: 0px;
                  }
                }
              }
            }
            .icon {
              font-size: calc(var(--togostanza-fonts-font_size_small) * 1px);
              cursor: pointer;
              content: "";
              display: inline-block;
              width: calc(var(--togostanza-fonts-font_size_small) * 1px);
              height: calc(var(--togostanza-fonts-font_size_small) * 1px);
              transform: translateY(1px);
              path {
                color: var(--togostanza-fonts-font_color_primary);
                opacity: 0.4;
              }
              &.active {
                path {
                  color: var(--togostanza-theme-series_0_color);
                }
              }
              &.search {
                margin-left: 1px;
                width: calc(
                  var(--togostanza-fonts-font_size_small) * 1px - 1em
                );
                height: calc(
                  var(--togostanza-fonts-font_size_small) * 1px - 1em
                );
              }
              &.chart-bar {
                margin-left: 2px;
                width: calc(var(--togostanza-fonts-font_size_small) * 1px);
                height: calc(var(--togostanza-fonts-font_size_small) * 1px);
              }
              &.filter {
                padding: 0 2px;
              }
              &.sort {
                display: var(--sorticon-display);
                position: relative;
              }
            }
            .icon.isShowing {
              z-index: 3;
              position: relative;
              background-color: var(--togostanza-table-thead-background_color);
              path {
                color: var(--togostanza-fonts-font_color_secondary);
              }
            }
          }
        }
        > tbody {
          > tr {
            > td {
              &.fixed {
                position: sticky;
                z-index: 10;
                background-color: var(--togostanza-theme-background_color);
              }
              &.hide {
                display: none;
              }
              &.center {
                text-align: center;
              }
              &.right {
                text-align: right;
              }
              > span {
                font-size: var(--togostanza-fonts-font_size_default);
                > a {
                  font-size: inherit;
                  color: inherit;
                  font-weight: inherit;
                }
                .label {
                  cursor: pointer;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                }
                input {
                  display: none;
                }
                [data-is-clamp="false"] ~ .label {
                  display: block;
                }
              }
            }
            &:last-of-type {
              > td {
                border-bottom: none;
              }
            }
            &.selected,
            &.selectable:hover {
              > td,
              > td.fixed {
                background-color: var(
                  --togostanza-theme-selected_background_color
                );
              }
            }
            &.selectable:hover {
              > td,
              > td.fixed {
                cursor: pointer;
                transition: var(--togostanza-fadeout-transition);
              }
            }
          }
        }
      }
    }
  }
  > .paginationWrapper {
    --pagination-border-radius: 3px;
    display: flex;
    justify-content: center;
    width: calc(100% - 30px);
    margin: 10px auto;
    > .serialPagination {
      display: flex;
      justify-content: var(--togostanza-pagination-placement_horizonal);
      align-items: stretch;
      > ul.paginationNumList {
        display: flex;
        padding: 0;
        border: calc(var(--togostanza-border-width) * 0.5px) solid
          var(--togostanza-theme-border_color);
        border-radius: var(--pagination-border-radius);
        > li.pagination {
          color: var(--togostanza-theme-series_0_color);
          border-right: calc(var(--togostanza-border-width) * 0.5px) solid
            var(--togostanza-theme-border_color);
          padding: 2px 8px;
          font-size: calc(var(--togostanza-fonts-font_size_default) * 1px);
          display: flex;
          align-items: center;
          &:hover {
            cursor: pointer;
            color: var(--togostanza-pagination-current_font_color);
            background-color: var(--togostanza-theme-series_0_color);
          }
          &:first-of-type {
            border-top-left-radius: var(--pagination-border-radius);
            border-bottom-left-radius: var(--pagination-border-radius);
          }
          &:last-of-type {
            border-top-right-radius: var(--pagination-border-radius);
            border-bottom-right-radius: var(--pagination-border-radius);
            border-right: none;
          }
          &.currentBtn {
            color: var(--togostanza-pagination-current_font_color);
            background-color: var(--togostanza-theme-series_0_color);
          }
        }
      }
      > .arrowWrapper {
        min-width: 30px;
        visibility: hidden;
        display: flex;
        align-items: center;
        &.show {
          visibility: visible;
        }
        > .arrow {
          display: inline-block;
          width: 15px;
          height: 15px;
          &.left {
            margin-right: 2px;
          }
          &.right {
            margin-left: 2px;
          }
          &:hover {
            cursor: pointer;
          }
          /* stylelint-disable-next-line no-descending-specificity */
          > path {
            color: var(--togostanza-theme-series_0_color);
          }
        }
      }
      > .pageNumber {
        margin-left: 20px;
        > input[type="text"].jumpToNumberInput {
          border: solid calc(var(--togostanza-border-width) * 0.5px)
            var(--togostanza-theme-border_color);
          border-radius: var(--pagination-border-radius);
          width: 40px;
          height: 20px;
        }
      }
    }
    > #slider.pageSlider {
      height: 4px;
      margin: 0 auto;
      width: 100%;
      .slider-connects {
        /* stylelint-disable-next-line no-descending-specificity */
        .slider-connect {
          background-color: #bbbbbb;
        }
      }
      .slider-handle {
        > .slider-tooltip {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          bottom: auto;
          line-height: 1.3;
          color: var(--togostanza-pagination-current_font_color);
          background-color: var(--togostanza-theme-series_0_color);
          border: calc(var(--togostanza-border-width) * 0.5px) solid
            var(--togostanza-theme-border_color);
          padding: 2px 8px;
          font-size: var(--togostanza-fonts-font_size_small);
          border-radius: var(--pagination-border-radius);
          &:before {
            display: none;
          }
        }
      }
    }
  }
}

// transition
.modal-enter-from,
.modal-leave-to {
  opacity: 0;
  margin-top: -20px;
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.4s, margin-top 0.4s;
}

.modal_bg-enter-from,
.modal_bg-leave-to {
  opacity: 0;
}

.modal_bg-enter-active,
.modal_bg-leave-active {
  transition: opacity 0.4s;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.slider-base {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--togostanza-theme-border_color);
    opacity: 0.2;
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--togostanza-line_clamp);
  line-clamp: var(--togostanza-line_clamp);
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.line-clamp-expanded {
  cursor: default;
  position: relative;

  &:after {
    content: " ▲";
    opacity: 0.3;
    font-size: 0.8em;
    margin-left: 4px;
  }
}

/* Wrapper to position toggle button */
.clamp-td { position: relative; }
.clamp-td:hover .clamp-toggle-button { opacity: 1; transform: scale(1); }

/* Expand / collapse corner button */
.clamp-toggle-button {
  --btn-size: 18px;
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: var(--btn-size);
  height: var(--btn-size);
  padding: 0;
  border: none;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  cursor: pointer;
  opacity: 0; /* show on hover */
  transform: scale(.6);
  transition: opacity .18s ease, transform .25s cubic-bezier(.4,0,.2,1), filter .2s;

  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
  transition: transform .25s ease;
  transform: translate(0,0);
  }

  &::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6'><polygon points='5.78 5.08 1.71 1 5.5 1 5.5 0 0 0 0 5.5 1 5.5 1 1.71 5.08 5.79 5.78 5.08'/></svg>");
    bottom: 8px;
    right: 8px;
  }

  &::after {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6'><polygon points='5 .5 5 4.29 .92 .21 .22 .92 4.29 5 .5 5 .5 6 6 6 6 .5 5 .5'/></svg>");
    bottom: 3px;
    right: 3px;
  }

  /* hover animation: move apart */
  &:hover::before { transform: translate(-2px, -2px); }
  &:hover::after { transform: translate(2px, 2px); }

  &[data-expanded='true'] {
    &::before {
      transform: translate(-2px, -2px);
      bottom: 1px;
      right: 1px;
    }
    &::after {
      bottom: 10px;
      right: 10px;
    }
  }

  &:hover { filter: brightness(0.6); }
  &:focus-visible { outline: 2px solid #2684ff; outline-offset: 2px; }
}

/* Remove old ▲ marker when custom button is present */
.clamp-td .line-clamp-expanded:after { content: none; }

