// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

.label,
.node,
.node-group,
.link,
.-active,
.-fadeout,
.-half-active {
  transition: var(--togostanza-fadeout-transition);
  transition-property: opacity, stroke-width, stroke-opacity, fill-opacity;
}

.label {
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  font-family: var(--togostanza-fonts-font_family);
  fill: var(--togostanza-fonts-font_color);
  cursor: pointer;
}

.node {
  stroke: var(--togostanza-border-color);
  stroke-width: var(--togostanza-border-width);

  cursor: pointer;

  &.-selected {
    opacity: 1 !important;
  }

  &.-active {
    opacity: 1;
    stroke-width: calc(var(--togostanza-border-width) * 2.5px);
    stroke-opacity: 1;
  }

  &.-half-active {
    opacity: calc(var(--togostanza-fadeout-opacity) + 0.3);
    stroke-width: calc(var(--togostanza-border-width) * 1.6px);
  }

  &.-fadeout {
    opacity: var(--togostanza-fadeout-opacity);
  }
}

.link {
  stroke-linecap: round;
  fill: none;
  stroke: var(--togostanza-edge-color);
  stroke-opacity: var(--togostanza-edge-opacity);

  &.chord {
    stroke-width: 0.5px;
    stroke-opacity: 0;
    fill-opacity: calc(var(--togostanza-edge-opacity));

    &.-active {
      fill-opacity: var(--togostanza-edge-opacity);
      stroke: var(--togostanza-edge-color);
      stroke-width: 0.5px;
      stroke-opacity: var(--togostanza-edge-opacity);
    }

    &.-fadeout {
      fill-opacity: var(--togostanza-fadeout-opacity);
      stroke-opacity: 0;
    }
  }

  &.-active {
    stroke-opacity: var(--togostanza-edge-opacity);
  }

  &.-fadeout {
    stroke-opacity: calc(
      var(--togostanza-fadeout-opacity) * var(--togostanza-edge-opacity)
    );
  }
}

.fullsircle {
  fill: none;
}

.ribbons {
  fill-opacity: var(--togostanza-fadeout-opacity);
  > path {
    mix-blend-mode: multiply;
  }
}

.-nodes-blend-multiply {
  .node > circle,
  .node > path {
    mix-blend-mode: multiply;
  }
}
.-nodes-blend-screen {
  .node > circle,
  .node > path {
    mix-blend-mode: screen;
  }
}

svg {
  background-color: var(--togostanza-background-color);

  :has(.-selected) {
    .node {
      opacity: var(--togostanza-fadeout-opacity);
    }
    .link {
      opacity: var(--togostanza-fadeout-opacity);
    }
  }
}
