// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

:scope main {
  background-color: var(--togostanza-theme-background_color);
}

:host {
  position: relative;
  > togostanza--legend2 {
    position: absolute;
    top: 0;
    right: 0;
  }
}

svg {
  background-color: var(--togostanza-theme-background_color);

  > .chart {
    > .chart-line-group {
      transition: var(--togostanza-fadeout-transition);

      &.-highlight {
        opacity: 1;
      }
      &.-fadeout {
        opacity: var(--togostanza-fadeout-opacity);
      }
      > path.chart-line {
        fill: none;
        stroke-width: 1px;
        stroke-opacity: 1;
      }
      > .symbol-g > path.symbol {
        cursor: pointer;
      }

      .error-bar > line {
        stroke: var(--togostanza-border-color);
        stroke-width: 1px;
        opacity: 0.8;
        transition: stroke-opacity 0.3s ease-out;
      }
    }
  }
  > .axis-container {
    > .grid-lines {
      line {
        stroke: var(--togostanza-grid-color);
        &.zero-line {
          stroke-width: calc(var(--togostanza-axis-zero_line_width) * 1px);
          stroke: var(--togostanza-axis-zero_line_color);
        }
      }
    }
    > .axis {
      > .tick {
        font-size: calc(var(--togostanza-fonts-font_size_secondary) * 1px);
        > text {
          font-size: calc(var(--togostanza-fonts-font_size_secondary) * 1px);
          font-family: var(--togostanza-fonts-font_family);
        }
        > line {
          stroke: var(--togostanza-border-color);
          stroke-width: 1px;
        }
      }

      > path {
        stroke: var(--togostanza-border-color);
        stroke-width: 1px;
      }
    }
    > .title-container {
      text.title {
        font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
      }
    }
  }
}
