// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

:host {
  position: relative;
}

togostanza--legend2 {
  position: absolute;
  top: 0;
  right: 0;
}

svg {
  text.title {
    font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  }
  .tick > text {
    font-family: var(--togostanza-fonts-font_family);
    font-size: calc(var(--togostanza-fonts-font_size_secondary) * 1px);
  }

  .chart-node {
    &.-selected {
      opacity: 1 !important;
    }

    cursor: pointer;
    stroke: var(--togostanza-border-color);
    stroke-width: var(--togostanza-border-width);
    transition: var(--togostanza-fadeout-transition);
    &.-fadeout {
      opacity: var(--togostanza-fadeout-opacity);
      transition: var(--togostanza-fadeout-transition);
    }
  }

  :has(.-selected) {
    .chart-node {
      opacity: var(--togostanza-fadeout-opacity);
    }
  }
}
