// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

:host {
  position: relative;
}

togostanza--legend2 {
  position: absolute;
  top: 0;
  right: 0;
}

main {
  padding: 1rem 2rem;
  > svg {
    .chart-node {
      cursor: pointer;
      stroke: var(--togostanza-border-color);
      stroke-width: var(--togostanza-border-width);
      transition: var(--togostanza-fadeout-transition);
      &.-fadeout {
        opacity: var(--togostanza-fadeout-opacity);
        transition: var(--togostanza-fadeout-transition);
      }
    }
  }
}
