// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

main {
  padding: 1rem 2rem;
  > svg {
    .chart-node {
      stroke: var(--togostanza-border-color);
      stroke-width: var(--togostanza-border-width);
    }
  }
}
