// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.
textPath {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
}

.numbers {
  font-size: calc(var(--togostanza-fonts-font_size_small) * 1px);
}

.no-fill {
  fill: none;
}

g {
  .hidden-arc {
    fill: none;
    stroke: none;
  }

  [data-id] {
    transition: var(--togostanza-fadeout-transition);

    &:hover,
    &.-selected {
      opacity: 1 !important;
    }
  }

  &:has(.-selected) {
    [data-id] {
      opacity: var(--togostanza-fadeout-opacity);
    }
  }

  circle {
    cursor: pointer;

    // Add smooth transition for fill color changes
    transition: fill 0.75s ease;
  }

  &.-nodes-blend-multiply {
    path {
      mix-blend-mode: multiply;
    }
    circle {
      mix-blend-mode: multiply;
    }
  }

  &.-nodes-blend-screen {
    path {
      mix-blend-mode: screen;
    }
    circle {
      mix-blend-mode: screen;
    }
  }
}
