// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.
textPath {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
}

.numbers {
  font-size: calc(var(--togostanza-fonts-font_size_secondary) * 1px);
}

.no-fill {
  fill: none;
}

g {
  .hidden-arc {
    fill: none;
    stroke: none;
  }

  .selectable {
    transition: var(--togostanza-fadeout-transition);
    &:hover,
    &.-selected:not([fill-opacity="0"]) {
      opacity: 1 !important;
    }
  }

  &:has(.selectable.-selected) {
    .selectable {
      opacity: var(--togostanza-fadeout-opacity);
    }
  }

  circle {
    &.selectable {
      cursor: pointer;
    }
  }
}
