// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.
main {
  padding: var(--togostanza-outline-padding);
}

textPath {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
}

.numbers {
  font-size: calc(var(--togostanza-fonts-font_size_secondary) * 1px);
}

g .hidden-arc {
  fill: none;
  stroke: none;
}

.no-fill {
  fill: none;
}
