// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

svg > defs > marker > path {
  fill: var(--togostanza-edge-color);
}

.label,
.node,
.link,
.-active,
.-fadeout,
.-half-active {
  transition: all 0.1s ease-in-out;
  transition-property: opacity, stroke-width, stroke-opacity;
}

.label {
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
}

.node {
  fill: var(--togostanza-theme-series_0_color);
  stroke: var(--togostanza-border-color);
  stroke-width: var(--togostanza-border-width);
  opacity: var(--togostanza-fadeout-opacity);
  cursor: pointer;

  &.-selected {
    opacity: 1 !important;
  }

  &.-active {
    opacity: 1;
    stroke-width: calc(var(--togostanza-border-width) * 2.5px);
    stroke-opacity: 1;
  }

  &.-half-active {
    opacity: calc(var(--togostanza-fadeout-opacity) + 0.3);
    stroke-width: calc(var(--togostanza-border-width) * 1.6px);
  }

  &.-fadeout {
    opacity: var(--togostanza-fadeout-opacity);
  }
}

.link {
  stroke: var(--togostanza-edge-color);
  opacity: calc(
    var(--togostanza-edge-opacity) * var(--togostanza-fadeout-opacity)
  );
  &.-active {
    opacity: var(--togostanza-edge-opacity);
  }
  &.-fadeout {
    opacity: calc(
      var(--togostanza-fadeout-opacity) * var(--togostanza-edge-opacity)
    );
  }
}
