// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

.label,
.node,
.link,
.-active,
.-fadeout,
.-half-active {
  transition: all 0.1s ease-in-out;
  transition-property: opacity, stroke-width, stroke-opacity;
}

:host {
  --active-stroke-width: calc(var(--togostanza-border-width) * 2.5px);
  --half-active-opacity: calc(var(--togostanza-fadeout-opacity) + 0.3);
  --half-active-stroke-width: calc(var(--togostanza-border-width) * 1.6px);
}

.label {
  font-size: calc(var(--togostanza-fonts-font_size_default) * 1px);
}

.node {
  fill: var(--togostanza-theme-series_0_color);
  stroke: var(--togostanza-border-color);
  stroke-width: var(--togostanza-border-width);
  cursor: pointer;

  & > a {
    text-decoration: underline;
  }

  &.-selected {
    opacity: 1 !important;
  }

  &.-active {
    opacity: 1;
    stroke-width: calc(var(--togostanza-border-width) * 2.5px);
    stroke-opacity: 1;
  }

  &.-half-active {
    opacity: calc(var(--togostanza-fadeout-opacity) + 0.3);
    stroke-width: calc(var(--togostanza-border-width) * 1.6px);
  }

  &.-fadeout {
    opacity: var(--togostanza-fadeout-opacity);
  }
}

.link {
  stroke-opacity: var(--togostanza-edge-opacity);
  stroke-linecap: round;
  fill: none;
  stroke: var(--togostanza-edge-color);

  &.-fadeout {
    opacity: calc(
      var(--togostanza-fadeout-opacity) * var(--togostanza-edge-opacity)
    );
  }
}

svg {
  user-select: none;

  & > defs > marker > path {
    fill: var(--togostanza-edge-color);
  }

  & > #forceG {
    &.-nodes-blend-multiply {
      .node > circle {
        mix-blend-mode: multiply;
      }
    }
    &.-nodes-blend-screen {
      .node > circle {
        mix-blend-mode: screen;
      }
    }
  }

  &:has(.-selected) {
    .node {
      opacity: var(--togostanza-fadeout-opacity);

      &.-active {
        opacity: 1;
      }
      &.-half-active {
        opacity: var(--half-active-opacity);
        stroke-width: var(--half-active-stroke-width);
      }
    }
    .link {
      opacity: var(--togostanza-fadeout-opacity);

      &.-active {
        stroke: var(--togostanza-edge-color);
        opacity: var(--togostanza-edge-opacity);
      }
    }
  }
}
