// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

main {
  padding: var(--togostanza-canvas-padding);
  .domain,
  .tick {
    color: #333;
  }
  .text {
    font-family: var(--togostanza-fonts-font_family);
    font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  }
  .x-axis-label .tick .text,
  .y-axis-label .tick .text {
    font-size: calc(var(--togostanza-fonts-font_size_secondary) * 1px);
  }
  .highlighted {
    stroke: var(--togostanza-selected-border_color);
  }
  rect {
    stroke: var(--togostanza-border-color);
    stroke-width: calc(var(--togostanza-border-width) * 1px);
  }
}
