// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

svg > defs > marker > path {
  fill: var(--togostanza-edge-color);
}

.node,
.link,
.group-plane,
.-active,
.-fadeout,
.-half-active {
  transition: all 0.1s ease-in-out;
  transition-property: opacity, stroke-width, stroke-opacity;
}

svg > g {
  &.-nodes-blend-multiply {
    .node-g > circle {
      mix-blend-mode: multiply;
    }
  }
  &.-nodes-blend-screen {
    .node-g > circle {
      mix-blend-mode: screen;
    }
  }
}

g.node-g {
  cursor: pointer;
  > .node {
    fill: var(--togostanza-theme-series_0_color);
    stroke-width: calc(var(--togostanza-border-width) * 1px);
    stroke: var(--togostanza-border-color);
  }

  &.-selected {
    opacity: 1 !important;
  }

  & > a > .node-label {
    text-decoration: underline;
  }

  &.-active {
    > .node-label {
      opacity: 1;
    }
    > .node {
      opacity: 1;
      stroke-width: calc(var(--togostanza-border-width) * 2.5px);
    }
  }

  &.-half-active {
    > .node-label {
      stroke-opacity: calc(var(--togostanza-fadeout-opacity) + 0.3);
    }
    > .node {
      stroke-opacity: calc(var(--togostanza-fadeout-opacity) + 0.3);
      stroke-width: calc(var(--togostanza-border-width) * 1.5px);
    }
  }

  &.-fadeout {
    opacity: var(--togostanza-fadeout-opacity);
  }
}

.link {
  stroke-linecap: round;
  stroke-width: 1px;
  fill: none;
  stroke: var(--togostanza-edge-color);
  pointer-events: none;
  opacity: 0.6;

  &.-active {
    opacity: 0.4;
  }
  &.-half-active {
    opacity: calc(var(--togostanza-fadeout-opacity) + 0.3);
  }
  &.-fadeout {
    opacity: var(--togostanza-fadeout-opacity);
  }
}

.group-plane {
  opacity: calc(var(--togostanza-fadeout-opacity) * 0.2);
  stroke: var(--togostanza-outline-color);
  stroke-linejoin: round;
  stroke-width: calc(var(--togostanza-border-width) * 1.5px);
  fill: var(--togostanza-group_plane-color);
  stroke-opacity: 0.2;
  &.-active {
    stroke-opacity: 0.1;
    opacity: 0.1;
    stroke-width: calc(var(--togostanza-border-width) * 4px);
  }
  &.-half-active {
    stroke-opacity: calc(var(--togostanza-fadeout-opacity) * 0.2);
    opacity: calc(var(--togostanza-fadeout-opacity) * 0.2);
    stroke-width: calc(var(--togostanza-border-width) * 2.5px);
  }
  &.-fadeout {
    opacity: calc(var(--togostanza-fadeout-opacity) * 0.5);
  }
}

svg {
  background-color: var(--togostanza-theme-background_color);
  cursor: grab;

  :has(.-selected) {
    .node-g {
      opacity: var(--togostanza-fadeout-opacity);
    }
    .link {
      opacity: var(--togostanza-fadeout-opacity);
    }
  }
}
