// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";
@use "@/scss/table";

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.

@mixin button {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

main {
  line-height: 1.2;
}

* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  color: var(--togostanza-fonts-font_color_primary);
  font-family: var(--togostanza-fonts-font_family);
  font-size: var(--togostanza-fonts-font_size_small);
}

// FontAwesome SVG icons initial size control to prevent flash of large icons
svg[data-icon] {
  width: 1em !important;
  height: 1em !important;
  font-size: inherit !important;
}

#renderDiv {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 800px;
}

.tableWrapper {
  overflow: auto;
  background-color: var(--togostanza-theme-background_color_body);
  padding: var(--togostanza-canvas-padding, 0);
  > table {
    margin: 0;
    > thead {
      background-color: var(--togostanza-table-thead-background_color);
      font-size: calc(var(--togostanza-fonts-font_size_default) * 1px);
      color: var(--togostanza-fonts-font_color_secondary);
      margin-bottom: 0;
      > tr {
        > th {
          color: var(--togostanza-fonts-font_color_secondary);
          font-weight: bold;
          background-color: var(--togostanza-table-thead-background_color);
          position: sticky;
          top: 0;
          &.fixed {
            position: sticky;
            z-index: 20;
          }
        }
      }
    }
    > tbody {
      font-size: calc(var(--togostanza-fonts-font_size_default) * 1px);
      color: var(--togostanza-fonts-font_color_primary);
      > tr {
        &:nth-child(odd) {
          background-color: var(--togostanza-table-tbody-odd_background_color);
        }
        &:nth-child(even) {
          background-color: var(--togostanza-table-tbody-even_background_color);
        }
        > td {
          font-size: calc(var(--togostanza-fonts-font_size_default) * 1px);
          &.fixed {
            position: sticky;
            z-index: 10;
            background-color: var(--togostanza-theme-background_color_body);
          }
          &.center {
            text-align: center;
          }
          &.right {
            text-align: right;
          }
          &.loadingWrapper {
            text-align: center;
          }
          > span > a {
            color: var(--togostanza-fonts-font_color_primary);
          }
          label {
            cursor: pointer;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            color: var(--togostanza-fonts-font_color_primary);
          }
          input {
            display: none;
          }
          input:checked ~ label {
            display: block;
          }
        }
        &.selected,
        &.selectable:hover {
          > td,
          > td.fixed {
            background-color: var(--togostanza-theme-selected_background_color);
          }
        }
        &.selectable:hover {
          > td,
          > td.fixed {
            cursor: pointer;
            transition: var(--togostanza-fadeout-transition);
          }
        }
      }
    }
  }
}
