// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.

svg {
  path.pie-slice {
    stroke: var(--togostanza-border-color);
    stroke-width: 0.5px;

    &.-fadeout {
      opacity: var(--togostanza-fadeout-opacity);
      transition: var(--togostanza-fadeout-transition);
    }

    &:hover {
      cursor: pointer;
    }

    &.-selected {
      stroke-width: 2px;
      stroke: var(--togostanza-theme-selected_border_color);
    }
  }
}

:host {
  position: relative;
  > togostanza--legend2 {
    position: absolute;
    top: 0;
    right: 0;
  }
}
