// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

breadcrumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.2em;
  row-gap: 0.3em;
  align-items: start;
  width: 100%;
}
