@use "@/common.scss";

svg {
  padding: var(--togostanza-canvas-padding);
}

.path {
  vector-effect: non-scaling-stroke;
  stroke-width: calc(var(--togostanza-border-width) * 1px);
  stroke: var(--togostanza-border-color);
  &:hover {
    stroke: var(--togostanza-selected-color);
  }
}
