@use "@/common.scss";

main {
  padding: 1rem 2rem;
}

main .mark-text.role-legend-title * {
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_secondary) * 1px);
}

path {
  stroke-width: calc(var(--togostanza-border-width) * 1px);
  // stroke: var(--togostanza-border-color);
}

.path {
  stroke-width: calc(var(--togostanza-border-width) * 1px);
  stroke: var(--togostanza-border-color);
  &:hover {
    stroke: var(--togostanza-selected-color);
  }
}
