// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

main {
  padding: var(--togostanza-outline-padding);
}

svg rect.container {
  fill: var(--togostanza-theme-background_color);
}

svg text {
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  > tspan.number-label {
    font-size: calc(var(--togostanza-fonts-font_size_secondary) * 1px);
  }
}
