// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

* {
  box-sizing: border-box;
}

.container {
  width: calc(var(--togostanza-outline-width) * 1px);
  height: calc(var(--togostanza-outline-height) * 1px);
  padding: var(--togostanza-outline-padding);
  word-break: break-all;
  font-weight: var(--togostanza-fonts-font_weight);

  p.paragraph {
    margin: 0;
    height: 100%;
    overflow: auto;
  }
}
