// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

* {
  box-sizing: border-box;
}

main {
  padding: var(--togostanza-outline-padding);
  width: calc(var(--togostanza-outline-width) * 1px);
  height: calc(var(--togostanza-outline-height) * 1px);
  background-color: var(--togostanza-theme-background_color);
}
.container {
  display: flex;
  flex-direction: column;
  // .menu {
  //   display: flex;
  //   padding: 5px;
  // }
  table {
    display: block;
    tbody {
      tr {
        td {
          word-break: break-all;
          font-weight: var(--togostanza-fonts-font_weight);
        }
      }
    }
  }
}
// .menu {
// }
