<div id="drawArea">

  <svg
    id="venn-diagrams"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
    xml:space="preserve"
  >

    <!-- 1 -->
    <g class="venn-diagram" data-number-of-data="1">
      <g data-targets="0">
        <circle class="part" cx="170.57" cy="169.7" r="169.7"/>
        <g class="text" transform="translate(175 173.5)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
    </g>

    <!-- 2 -->
    <g class="venn-diagram" data-number-of-data="2">
      <g data-targets="0">
        <path class="part" d="M.4,169.7c0,70.48,57.15,127.63,127.63,127.63,14.89,0,29.21-2.55,42.54-7.23-49.63-17.58-85.08-64.81-85.08-120.39s35.45-102.81,85.08-120.39c-13.33-4.68-27.65-7.23-42.54-7.23-70.48,0-127.63,57.15-127.63,127.63Z"/>
        <g class="text" transform="translate(49 173.5)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="1">
        <path class="part" d="M255.66,169.7c0,55.59-35.45,102.81-85.08,120.39,13.33,4.68,27.65,7.23,42.54,7.23,70.48,0,127.63-57.15,127.63-127.63,0-70.48-57.15-127.63-127.63-127.63-14.89,0-29.21,2.55-42.54,7.23,49.63,17.58,85.08,64.81,85.08,120.39Z"/>
        <g class="text" transform="translate(297 173.5)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,1">
        <path class="part" class="part" d="M85.49,169.7c0,55.59,35.45,102.81,85.08,120.39,49.63-17.58,85.08-64.81,85.08-120.39,0-55.59-35.45-102.81-85.08-120.39-49.63,17.58-85.08,64.81-85.08,120.39Z"/>
        <g class="text" transform="translate(173 173.5)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
    </g>

    <!-- 3 -->
    <g class="venn-diagram" data-number-of-data="3">
      <g data-targets="0">
        <path class="part" d="M170.57,96.28c32.64-15.63,72.08-15.5,105.86,4.03,2.52,1.39,4.91,3.02,7.18,4.54C279.2,46.25,230.3,0,170.57,0S61.94,46.25,57.53,104.97c2.39-1.64,4.79-3.15,7.18-4.54,33.77-19.53,73.22-19.79,105.86-4.16Z"/>
        <g class="text" transform="translate(172.5 58.5)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="1">
        <path class="part" d="M283.61,104.97c.25,2.77,.38,5.67,.38,8.57,0,38.94-19.53,73.22-49.4,93.63-2.77,36.04-22.68,70.19-56.33,89.6-2.52,1.39-5.04,2.77-7.56,4.03,52.93,25.46,117.45,6.3,147.32-45.49,29.74-51.79,14.24-117.32-34.4-150.34Z"/>
        <g class="text" transform="translate(275 228.5)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="2">
        <path class="part" d="M106.55,207.18c-29.87-20.42-49.4-54.69-49.4-93.63,0-2.9,.13-5.8,.38-8.57C8.88,138.12-6.62,203.52,23.25,255.32c29.87,51.79,94.39,70.95,147.32,45.49-2.52-1.26-5.04-2.52-7.56-4.03-33.77-19.41-53.68-53.56-56.46-89.6Z"/>
        <g class="text" transform="translate(70 228.5)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,1">
        <path class="part" d="M170.57,96.28c19.91,9.58,37.3,24.95,49.15,45.49,11.85,20.54,16.51,43.22,14.87,65.28,29.87-20.42,49.4-54.69,49.4-93.63,0-2.9-.13-5.8-.38-8.57-2.39-1.64-4.79-3.15-7.18-4.54-33.77-19.41-73.22-19.66-105.86-4.03Z"/>
        <g class="text" transform="translate(246.5 131.5)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,2">
        <path class="part" d="M106.55,207.18c-1.64-22.05,3.02-44.74,14.87-65.28,11.85-20.54,29.24-36.04,49.15-45.49-32.64-15.63-72.08-15.5-105.86,4.03-2.52,1.39-4.91,3.02-7.18,4.54-.25,2.77-.38,5.67-.38,8.57,0,38.81,19.53,73.22,49.4,93.63Z"/>
        <g class="text" transform="translate(95.5 131.5)">
          <text class="label" text-anchor="middle"1></text>
          <text class="value" text-anchor="middle"1></text>
        </g>
      </g>
      <g data-targets="1,2">
        <path class="part" d="M234.59,207.18c-18.27,12.48-40.2,19.79-64.02,19.79s-45.75-7.31-64.02-19.79c2.77,36.04,22.68,70.19,56.33,89.6,2.52,1.39,5.04,2.77,7.56,4.03,2.52-1.26,5.04-2.52,7.56-4.03,33.9-19.41,53.81-53.56,56.58-89.6Z"/>
        <g class="text" transform="translate(171.5 260)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,1,2">
        <path class="part" d="M219.72,141.9c-11.85-20.54-29.24-36.04-49.15-45.49-19.91,9.58-37.3,24.95-49.15,45.49-11.85,20.54-16.51,43.22-14.87,65.28,18.27,12.48,40.2,19.79,64.02,19.79s45.75-7.31,64.02-19.79c1.64-22.05-3.02-44.74-14.87-65.28Z"/>
        <g class="text" transform="translate(172 174)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
    </g>

    <!-- 4 -->
    <g class="venn-diagram" data-number-of-data="4">
      <g data-targets="0">
        <path class="part" d="M243.44,79.65c18.13-1.69,35.25,.56,50,6.64-2.93-10.02-7.77-19.14-14.53-27.25-23.65-28.15-65.43-35.14-108.34-22.19,22.19,6.64,44.6,18.69,64.98,35.7,2.7,2.36,5.29,4.73,7.88,7.09Z"/>
        <g class="text" transform="translate(249 67)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="1">
        <path class="part" d="M293.44,86.3c5.63,19.26,4.39,41.44-3.15,63.63,11.37,33.79,8.45,67.35-11.26,90.88-7.88,9.46-17.91,16.55-29.28,21.28-2.93,10.02-7.77,19.14-14.53,27.25-15.43,18.36-38.52,27.7-64.53,28.38,34.69,1.01,74.55-13.29,108.68-41.89,59.8-50.23,79.28-125.57,43.36-168.36-7.88-9.35-17.91-16.44-29.28-21.17Z"/>
        <g class="text" transform="translate(317.5 163)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="2">
        <path class="part" d="M106.04,289.46c-6.76-8.11-11.6-17.23-14.53-27.25-11.37-4.73-21.4-11.82-29.28-21.28-19.82-23.65-22.75-57.21-11.26-90.88-7.55-22.3-8.78-44.37-3.15-63.63-11.37,4.73-21.4,11.82-29.28,21.28C-17.39,150.49,2.1,225.83,61.9,276.06c34.12,28.6,74.1,42.91,108.68,41.89-26.13-.79-49.21-10.14-64.53-28.49Z"/>
        <g class="text" transform="translate(25.5 163)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="3">
        <path class="part" d="M97.71,79.65c2.59-2.36,5.18-4.73,7.88-7.09,20.38-17.12,42.79-29.06,64.98-35.7-42.91-12.95-84.69-5.97-108.34,22.19-6.76,8.11-11.6,17.23-14.53,27.25,14.75-6.08,31.98-8.33,50-6.64Z"/>
        <g class="text" transform="translate(94.5 67)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,1">
        <path class="part" d="M243.44,79.65c22.52,21.06,38.52,45.72,46.85,70.39,7.55-22.3,8.78-44.37,3.15-63.63-14.75-6.19-31.98-8.45-50-6.76Z"/>
        <g class="text" transform="translate(281.5 110)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,2">
        <path class="part" d="M90.61,213.33c-18.81-19.37-32.32-41.44-39.75-63.29-11.37,33.79-8.45,67.35,11.26,90.88,7.88,9.46,17.91,16.55,29.28,21.28-4.28-14.98-4.5-31.65-.79-48.88Z"/>
        <g class="text" transform="translate(70 227)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,3">
        <path class="part" d="M97.71,79.65c23.76,2.14,49.1,10.92,72.86,26.01,23.76-15.09,49.1-23.87,72.86-26.01-2.59-2.36-5.18-4.73-7.88-7.09-20.38-17.12-42.79-29.06-64.98-35.7-22.19,6.64-44.6,18.69-64.98,35.7-2.7,2.36-5.29,4.73-7.88,7.09Z"/>
        <g class="text" transform="translate(171.5 85)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="1,2">
        <path class="part" d="M235.1,289.46c6.76-8.11,11.6-17.23,14.53-27.25-22.52,9.35-50.57,9.57-79.06,1.01-28.49,8.56-56.53,8.45-79.06-1.01,2.93,10.02,7.77,19.14,14.53,27.25,15.43,18.36,38.52,27.7,64.53,28.38,26.13-.68,49.21-10.02,64.53-28.38Z"/>
        <g class="text" transform="translate(171.5 301.5)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="1,3">
        <path class="part" d="M249.63,262.2c11.37-4.73,21.4-11.82,29.28-21.28,19.82-23.65,22.75-57.21,11.26-90.88-7.43,21.96-20.83,43.92-39.64,63.4,3.72,17.12,3.49,33.79-.9,48.76Z"/>
        <g class="text" transform="translate(273.5 227)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="2,3">
        <path class="part" d="M50.86,150.04c8.33-24.55,24.21-49.33,46.85-70.39-18.13-1.69-35.25,.56-50,6.64-5.63,19.37-4.28,41.44,3.15,63.74Z"/>
        <g class="text" transform="translate(58.5 110)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,1,2">
        <path class="part" d="M90.61,213.33c-3.6,17.12-3.49,33.79,.9,48.76,22.52,9.35,50.57,9.57,79.06,1.01-22.19-6.64-44.6-18.69-64.98-35.7-5.29-4.5-10.36-9.23-14.98-14.08Z"/>
        <g class="text" transform="translate(114.5 265.5)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,1,3">
        <path class="part" d="M243.44,79.65c-23.76,2.14-49.1,10.92-72.86,26.01,7.21,4.62,14.3,9.69,21.17,15.43,31.65,26.58,52.03,60.14,58.79,92.23,18.81-19.48,32.21-41.44,39.64-63.4-8.22-24.55-24.21-49.21-46.74-70.27Z"/>
        <g class="text" transform="translate(247 144)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,2,3">
        <path class="part" d="M149.4,121.09c6.87-5.74,13.96-10.92,21.17-15.43-23.76-15.09-49.1-23.87-72.86-26.01-22.52,21.06-38.52,45.72-46.85,70.39,7.43,21.96,20.83,43.92,39.64,63.4,6.87-32.21,27.25-65.77,58.9-92.35Z"/>
        <g class="text" transform="translate(90 144)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="1,2,3">
        <path class="part" d="M250.53,213.33c-4.73,4.84-9.69,9.57-15.09,14.08-20.38,17.12-42.79,29.06-64.98,35.7,28.49,8.56,56.53,8.45,79.06-1.01,4.5-14.87,4.73-31.53,1.01-48.76Z"/>
        <g class="text" transform="translate(223 265.5)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,1,2,3">
        <path class="part" d="M250.53,213.33c-6.87-32.1-27.14-65.66-58.79-92.23-6.87-5.74-13.96-10.92-21.17-15.43-7.21,4.62-14.3,9.69-21.17,15.43-31.65,26.58-52.03,60.14-58.79,92.23,4.73,4.84,9.69,9.57,15.09,14.08,20.38,17.12,42.79,29.06,64.98,35.7,22.19-6.64,44.6-18.69,64.98-35.7,5.18-4.5,10.25-9.23,14.87-14.08Z"/>
        <g class="text" transform="translate(168.5 196.5)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
    </g>

    <!-- 5 -->
    <g class="venn-diagram" data-number-of-data="5">
      <g data-targets="0">
        <path class="part" d="M222.97,68.7c9.7,7,15.5,18.2,17.7,32.2,4.4-.3,8.7-.4,12.9-.5C243.37,42.2,215.67,.4,183.07,.4c-26.8,0-50.3,28.2-63.5,70.6,9.3,1.3,18.8,3.2,28.5,5.7,29.3-17,56.9-21,74.9-8Z"/>
        <g class="text" transform="translate(185.5 49)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="1">
        <path class="part" d="M339.27,139c-8.2-25.3-41.8-38.9-85.7-38.6,1.8,10.1,3,20.7,3.7,31.7,24.1,22.2,35.7,46.6,29,67.3-3.7,11.4-12.6,20.4-25.3,26.9,1.5,3.8,2.8,7.5,4.1,11.2,52.8-27.7,84.4-67.3,74.2-98.5Z"/>
        <g class="text" transform="translate(303.5 157)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="2">
        <path class="part" d="M183.07,299.5c-12.1,0-23.5-5.8-33.6-16-3.5,2.9-7,5.6-10.4,8.2,42.5,41.2,89.6,58.7,116,39.5,21.6-15.7,24.1-52,10.1-93.7-8.3,4.3-17,8.4-26.3,12.1-13.7,30.6-33.6,49.9-55.8,49.9Z"/>
        <g class="text" transform="translate(229.5 320)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="3">
        <path class="part" d="M117.97,268.9c-32.6-3.8-56.4-16.7-63.2-37.4-3.6-11.2-1.9-23.4,4.2-35.8-3.6-2.3-7-4.6-10.4-7-25.8,53-27.8,102.9-1.5,122,21.5,15.6,56.6,6.9,91.8-19-7-6.9-14.1-14.6-20.9-22.8Z"/>
        <g class="text" transform="translate(77.5 294)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="4">
        <path class="part" d="M79.17,89.2c9.9-7.2,22.8-9.2,37.2-6.7,1-4,2.1-7.8,3.3-11.6C60.77,62.4,12.07,75.8,1.87,107c-8.2,25.3,11.1,56.2,46.8,81.7,4.3-8.8,9.2-17.6,14.7-26.4-6.9-32.8-2.1-60,15.8-73.1Z"/>
        <g class="text" transform="translate(35.5 124)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,1">
        <path class="part" d="M241.67,119.3c5.7,4.2,10.9,8.4,15.6,12.8-.7-11-1.9-21.6-3.7-31.7-4.2,0-8.5,.2-12.9,.5,1,5.7,1.3,11.9,1,18.4Z"/>
        <g class="text" transform="translate(253.5 123)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,2">
        <path class="part" d="M165.97,268.4c-5.5,5.4-11,10.5-16.6,15.1,10.1,10.2,21.5,16,33.6,16,22.2,0,42.1-19.3,55.7-49.9-6,2.4-12.2,4.7-18.6,6.8-18.5,6-36.8,10-54.1,12Z"/>
        <g class="text" transform="translate(188 291)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,3">
        <path class="part" d="M216.97,103.6c8.1-1.3,16-2.2,23.7-2.7-2.2-14-8.1-25.1-17.7-32.2-18-13.1-45.7-9.1-74.9,7.9,6.3,1.6,12.7,3.4,19.1,5.5,18.1,5.9,34.9,13.3,49.8,21.5Z"/>
        <g class="text" transform="translate(203 89)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,4">
        <path class="part" d="M132.37,86.8c5.2-3.8,10.5-7.2,15.7-10.2-9.7-2.5-19.2-4.3-28.5-5.7-1.2,3.7-2.2,7.6-3.3,11.6,5.2,.9,10.6,2.3,16.1,4.3Z"/>
        <g class="text" transform="translate(129 88)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="1,2">
        <path class="part" d="M245.47,232.5c-2,6-4.2,11.8-6.6,17.1,9.2-3.7,18-7.7,26.3-12.1-1.2-3.7-2.6-7.4-4.1-11.2-4.8,2.4-10,4.5-15.6,6.2Z"/>
        <g class="text" transform="translate(250 247)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="1,3">
        <path class="part" d="M78.57,206.8c-6.9-3.5-13.4-7.3-19.6-11.1-6.1,12.4-7.8,24.6-4.2,35.8,6.7,20.7,30.6,33.6,63.2,37.4-3.9-4.7-7.7-9.6-11.4-14.7-11.4-15.6-20.7-31.7-28-47.4Z"/>
        <g class="text" transform="translate(73 242)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="1,4">
        <path class="part" d="M252.27,206.8c3.3,6.6,6.2,13.1,8.8,19.6,12.7-6.5,21.6-15.5,25.3-26.9,6.7-20.7-4.9-45.1-29-67.3,.3,5.8,.5,11.8,.5,17.8,0,20.1-2,39.3-5.6,56.8Z"/>
        <g class="text" transform="translate(268 200)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="2,3">
        <path class="part" d="M138.47,270c-7.1,0-14-.4-20.5-1.2,6.8,8.2,13.8,15.9,21,22.8,3.5-2.6,7-5.3,10.4-8.2-3.8-3.8-7.4-8.3-10.9-13.4Z"/>
        <g class="text" transform="translate(134 289)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="2,4">
        <path class="part" d="M111.97,103.6c1.2-7.3,2.7-14.3,4.4-21.1-14.4-2.5-27.3-.5-37.2,6.7-17.9,13-22.7,40.3-15.8,73.1,3.5-5.5,7.2-11.1,11.2-16.6,11.7-16,24.4-30.1,37.4-42.1Z"/>
        <g class="text" transform="translate(85 113)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="3,4">
        <path class="part" d="M68.37,180.9c-2-6.3-3.7-12.5-5-18.6-5.5,8.8-10.5,17.6-14.7,26.4,3.3,2.4,6.8,4.7,10.4,7,2.4-4.9,5.5-9.9,9.3-14.8Z"/>
        <g class="text" transform="translate(57 189)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,1,2">
        <path class="part" d="M192.47,237.8c-8.4,11.2-17.3,21.4-26.5,30.6,17.3-2,35.6-6,54.2-12,6.4-2.1,12.6-4.4,18.6-6.8,2.4-5.4,4.6-11.1,6.6-17.1-14.9,4.4-33,6.2-52.9,5.3Z"/>
        <g class="text" transform="translate(206 258)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,1,3">
        <path class="part" d="M241.67,119.3c.3-6.5-.1-12.7-1-18.4-7.7,.5-15.6,1.4-23.7,2.7,9,5,17.2,10.2,24.7,15.7Z"/>
        <g class="text" transform="translate(230 116)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,1,4">
        <path class="part" d="M230.37,170.2c8.5,12.1,15.8,24.4,21.9,36.6,3.6-17.5,5.6-36.7,5.6-56.8,0-6-.2-12-.5-17.8-4.7-4.4-10-8.6-15.6-12.8-.7,15.3-4.6,32.6-11.4,50.8Z"/>
        <g class="text" transform="translate(243 176)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,2,3">
        <path class="part" d="M138.47,270c3.4,5.1,7.1,9.6,10.9,13.5,5.6-4.6,11.1-9.7,16.6-15.1-9.5,1.1-18.7,1.7-27.5,1.6Z"/>
        <g class="text" transform="translate(150 284)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,2,4">
        <path class="part" d="M132.37,86.8c-5.5-2-10.9-3.5-16.1-4.3-1.7,6.8-3.2,13.8-4.4,21.1,6.9-6.2,13.7-11.8,20.5-16.8Z"/>
        <g class="text" transform="translate(117 101)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,3,4">
        <path class="part" d="M216.97,103.6c-14.9-8.3-31.7-15.6-49.8-21.5-6.4-2.1-12.8-3.9-19.1-5.5-5.2,3-10.4,6.4-15.7,10.2,14.4,5.2,29.7,14.2,44.9,26.2,13.5-4.1,26.9-7.3,39.7-9.4Z"/>
        <g class="text" transform="translate(173 111)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="1,2,3">
        <path class="part" d="M78.57,206.8c7.3,15.7,16.6,31.7,28,47.4,3.7,5.1,7.5,10,11.4,14.7,6.5,.8,13.4,1.1,20.5,1.2-8.4-12.5-15.4-28.4-20.6-46.7-14-4.8-27.2-10.4-39.3-16.6Z"/>
        <g class="text" transform="translate(108 252)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="1,2,4">
        <path class="part" d="M245.47,232.5c5.7-1.7,10.9-3.7,15.6-6.1-2.6-6.5-5.5-13-8.8-19.6-1.9,9-4.2,17.6-6.8,25.7Z"/>
        <g class="text" transform="translate(250.5 231)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="1,3,4">
        <path class="part" d="M68.37,180.9c-3.8,4.9-6.9,9.9-9.3,14.8,6.1,3.9,12.7,7.6,19.6,11.1-4.2-8.8-7.6-17.4-10.3-25.9Z"/>
        <g class="text" transform="translate(64 204)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="2,3,4">
        <path class="part" d="M108.37,145.1c.2-14.5,1.5-28.4,3.6-41.5-13,12-25.7,26.1-37.4,42.2-4,5.5-7.7,11-11.2,16.6,1.3,6,2.9,12.2,5,18.6,9.6-12.6,23.2-24.8,40-35.9Z"/>
        <g class="text" transform="translate(88 153)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,1,2,3">
        <path class="part" d="M192.47,237.8c-22.2-1-46.6-5.4-71.5-13.5-1-.3-2-.7-3-1,5.2,18.3,12.2,34.2,20.6,46.7,8.8,0,18-.5,27.5-1.6,9.1-9.1,18-19.4,26.4-30.6Z"/>
        <g class="text" transform="translate(151 261)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,1,2,4">
        <path class="part" d="M230.37,170.2c-7.8,20.7-19.5,42.4-34.8,63.5-1,1.4-2.1,2.8-3.1,4.1,19.9,.9,38-1,53-5.4,2.7-8,5-16.6,6.8-25.7-6.1-12.1-13.4-24.4-21.9-36.5Z"/>
        <g class="text" transform="translate(227 221)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,1,3,4">
        <path class="part" d="M177.27,113.1c17.5,13.9,34.8,31.9,50.3,53.2,.9,1.3,1.9,2.6,2.8,3.9,6.9-18.2,10.7-35.6,11.3-50.9-7.5-5.5-15.8-10.8-24.7-15.7-12.8,2.1-26.2,5.3-39.7,9.5Z"/>
        <g class="text" transform="translate(218 140)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,2,3,4">
        <path class="part" d="M108.37,145.1c18.5-12.2,40.8-23,65.6-31,1.1-.4,2.2-.7,3.3-1-15.2-12.1-30.5-21-44.9-26.2-6.8,5-13.7,10.6-20.4,16.8-2.1,13-3.4,27-3.6,41.4Z"/>
        <g class="text" transform="translate(133 121)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="1,2,3,4">
        <path class="part" d="M117.87,223.3c-6.1-21.7-9.6-46.7-9.6-73.4,0-1.6,0-3.2,.1-4.8-16.8,11.1-30.4,23.3-40,35.8,2.7,8.4,6.1,17.1,10.2,25.9,12.1,6.2,25.3,11.8,39.3,16.5Z"/>
        <g class="text" transform="translate(91 197)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
      <g data-targets="0,1,2,3,4">
        <path class="part" d="M177.27,113.1c-1.1,.3-2.2,.7-3.3,1-24.8,8.1-47.1,18.8-65.6,31,0,1.6-.1,3.2-.1,4.8,0,26.7,3.5,51.7,9.6,73.4,1,.3,2,.7,3,1,24.9,8.1,49.3,12.5,71.5,13.5,1-1.4,2.1-2.7,3.1-4.1,15.3-21.1,27-42.8,34.8-63.5-.9-1.3-1.8-2.6-2.8-3.9-15.4-21.3-32.7-39.3-50.2-53.2Z"/>
        <g class="text" transform="translate(162 186)">
          <text class="label" text-anchor="middle"></text>
          <text class="value" text-anchor="middle"></text>
        </g>
      </g>
    </g>
  </svg>

</div>