// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";
@use "@/scss/search-field-view";

$canvas-height: calc(var(--togostanza-canvas-height) * 1px);
$canvas-padding-vertical: calc(var(--togostanza-canvas-padding) * 2);
$search-field-height: calc(25px + 8px);

*,
*:before,
*:after {
  box-sizing: border-box;
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(var(--togostanza-canvas-width) * 1px);
  height: calc(var(--togostanza-canvas-height) * 1px);
  padding: var(--togostanza-canvas-padding);

  // suggestions-containerとtree共通
  .label {
    display: flex;

    > .title {
      font-weight: bold;
    }
    > .value {
      flex-grow: 1;
      font-weight: normal;
      opacity: 0.5;
    }

    &.-horizontal {
      width: 100%;
      line-height: 1;
      flex-direction: row;
      gap: 1rem;
      > .value {
        text-align: right;
      }
    }
    &.-vertical {
      flex-direction: column;
      > .value {
        text-align: left;
      }
    }
  }

  > #tree {
    display: flex;
    width: fit-content;
    height: 100%;
    max-height: calc(
      $canvas-height - $canvas-padding-vertical - $search-field-height
    );

    > .column {
      background-color: var(--togostanza-column-background_color);
      outline: 1px solid;
      outline-color: var(--togostanza-column-border_color);
      overflow-y: auto;
      overscroll-behavior-y: contain;
      > .node {
        display: block;
        padding: 2px;
        border-bottom: solid 1px var(--togostanza-column-node_delimiter_color);
        > .inner {
          display: flex;
          align-items: center;
          border-radius: 3px;
          padding: 4px 6px;
          transition: var(--togostanza-fadeout-transition);
          > input[type="checkbox"] {
            &:hover {
              cursor: pointer;
            }
          }
          > .label {
            &.-vertical {
              margin-left: 0.5rem;
            }
          }
          .icon {
            margin-left: 6px;
            align-self: center;
            min-width: 5px;
            width: calc(var(--togostanza-fonts-font_size_primary) * 0.6 * 1px);
          }
        }
        &:hover,
        &.-highlighted {
          > .inner {
            background-color: var(--togostanza-theme-selected_background_color);
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
