// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

main {
  padding: var(--togostanza-outline-padding);
}

#wrapper {
  position: relative;
  overflow: auto;
  width: calc(var(--togostanza-outline-width) * 1px);
  height: calc(var(--togostanza-outline-height) * 1px);
  .value {
    flex-grow: 1;
    font-weight: normal;
    font-style: italic;
    opacity: 0.8;
  }
  .label {
    display: flex;
    overflow: hidden;
    > strong,
    .value {
      word-break: break-all;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    > strong {
      min-width: 50%;
    }
    &.-horizontal {
      width: 100%;
      line-height: 1;
      height: calc(var(--togostanza-fonts-font_size_primary) * 1px + 1px);
      flex-direction: row;
      gap: 1rem;
      > .value {
        text-align: right;
        padding-right: 1px;
      }
    }
    &.-vertical {
      flex-direction: column;
      > .value {
        text-align: left;
      }
    }
  }
  .icon {
    width: calc(var(--togostanza-fonts-font_size_primary) * 0.6 * 1px);
  }
  .-with-border {
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      top: 0;
      left: 0;
      border-top: solid
        calc(var(--togostanza-column-node_delimiter_width) * 1px)
        var(--togostanza-column-border_color);
    }
  }
  > .search-container {
    margin-bottom: 1rem;
    margin-left: 5px;
    > input {
      position: relative;
      margin-right: 1rem;
      width: 190px;
      height: 20px;
      border: solid 1px #d9d9d9;
      border-radius: calc(var(--togostanza-column-border_radius) * 1px);
    }
    > .search-wrapper {
      min-height: fit-content;
      max-height: 80%;
      display: flex;
      position: absolute;
      overflow: auto;
      border: solid 1px #d9d9d9;
      border-radius: 3px;
      z-index: 2;
      > .suggestions {
        margin: 0;
        padding: 0;
        overflow: auto;
        background-color: white;
        z-index: 1;
        > li {
          display: grid;
          padding: 0.8rem 1rem;
          list-style-type: none;
          position: relative;
          border-bottom: var(--togostanza-column-border);
          &:hover {
            background-color: var(--togostanza-node-hover_background_color);
            cursor: pointer;
          }
        }
      }
    }
  }
  > #tree {
    height: calc(var(--togostanza-column-height) * 1px);
    display: flex;
    width: fit-content;
    gap: calc(var(--togostanza-column-gap) * 1px);
    padding: 1px;
    > .column {
      overflow: auto;
      background-color: var(--togostanza-column-background_color);
      padding: calc(var(--togostanza-column-padding) * 1px);
      width: max-content;
      outline: 1px solid;
      outline-color: var(--togostanza-column-border_color);
      border-radius: calc(var(--togostanza-column-border_radius) * 1px);
      &.-fixed {
        width: calc(var(--togostanza-column-width) * 1px);
      }
      > .node {
        position: relative;
        display: grid;
        grid-template-columns: 1.5rem auto 1.5rem;
        align-items: center;
        border-radius: calc(var(--togostanza-node-border_radius) * 1px);
        padding-top: calc(var(--togostanza-node-padding_vertical) * 1px);
        padding-bottom: calc(var(--togostanza-node-padding_vertical) * 1px);
        padding-left: calc(var(--togostanza-node-padding_horizontal) * 1px);
        padding-right: calc(var(--togostanza-node-padding_horizontal) * 1px);
        > .label {
          &.-vertical {
            margin-left: 0.5rem;
          }
        }
        > .icon {
          align-self: center;
          justify-self: flex-end;
        }
        > input[type="checkbox"] {
          &:hover {
            cursor: pointer;
          }
        }
        &:first-child {
          &.-with-border:after {
            border-top: none;
          }
        }
        &.-highlighted {
          background-color: var(--togostanza-node-selected_background_color);
          color: var(--togostanza-node-selected_text_color);
          > svg > path {
            color: var(--togostanza-node-selected_text_color);
          }
        }
        &:hover {
          background-color: var(--togostanza-node-hover_background_color);
          color: var(--togostanza-node-hover_text_color);
          cursor: pointer;
          > svg > path {
            color: var(--togostanza-node-hover_text_color);
          }
        }
      }
    }
  }
}
