// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";
@use "@/scss/search-field-view";

:root {
  --border-color: #999;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(var(--togostanza-canvas-width) * 1px);
  height: calc(var(--togostanza-canvas-height) * 1px);
  padding: var(--togostanza-canvas-padding);
  overflow: auto;
  .value {
    flex-grow: 1;
    font-weight: normal;
    opacity: .8;
    &.fallback {
      opacity: .5;
      font-style: italic;
    }
  }
  .label {
    display: flex;
    overflow: hidden;
    > strong,
    .value {
      word-break: break-all;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    > strong {
      min-width: 50%;
    }
    &.-horizontal {
      width: 100%;
      line-height: 1;
      height: calc(var(--togostanza-fonts-font_size_primary) * 1px + 1px);
      flex-direction: row;
      gap: 1rem;
      > .value {
        text-align: right;
        padding-right: 1px;
      }
    }
    &.-vertical {
      flex-direction: column;
      > .value {
        text-align: left;
      }
    }
  }
  .icon {
    width: calc(var(--togostanza-fonts-font_size_primary) * 0.6 * 1px);
  }
  // .-with-border {
  //   &:after {
  //     position: absolute;
  //     content: "";
  //     display: block;
  //     width: 100%;
  //     top: -2px;
  //     left: 0;
  //     border-top: solid
  //       1px
  //       var(--togostanza-column-border_color);
  //   }
  // }
  > .search-field-view {
    margin-bottom: 8px;
    > .inputcontainer {
      > input {
        position: relative;
        margin-right: 1rem;
        width: 190px;
      }
    }
    > .suggestionscontainer {
      max-height: 80%;
      > .suggestions {
        > li {
          border-bottom: var(--togostanza-column-border);
          &:hover {
            background-color: var(--togostanza-node-hover_background_color);
            cursor: pointer;
          }
        }
      }
    }
  }
  > #tree {
    display: flex;
    width: fit-content;
    height: 100%;
    padding: 1px;
    > .column {
      overflow: auto;
      background-color: var(--togostanza-column-background_color);
      width: max-content;
      outline: 1px solid;
      outline-color: var(--togostanza-column-border_color);
      > .node {
        display: block;
        position: relative;
        padding: 2px;
        border-bottom: solid 1px var(--togostanza-column-node_delimiter_color);
        > .inner {
          grid-template-columns: 1.5rem auto 1.5rem;
          align-items: center;
          border-radius: 3px;
          padding: 4px 6px;
          display: grid;
          > .label {
            &.-vertical {
              margin-left: 0.5rem;
            }
          }
          > .icon {
            align-self: center;
            justify-self: flex-end;
          }
          > input[type="checkbox"] {
            &:hover {
              cursor: pointer;
            }
          }
          &:first-child {
            &.-with-border:after {
              border-top: none;
            }
          }
        }
        &.-highlighted, &:hover {
          > .inner {
            background-color: var(--togostanza-node-selected_background_color);
            color: var(--togostanza-node-selected_text_color);
            > svg > path {
              color: var(--togostanza-node-selected_text_color);
            }
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
